@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}

input {
  outline: none;
}

.gradient-bg-animation {
  height: 200px;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    90deg,
    rgb(15, 15, 15) 0%,
    rgb(28, 28, 28) 25%,
    rgb(27, 27, 27) 50%,
    rgba(25, 25, 30, 1) 75%,
    rgba(12, 12, 15, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilo general para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  height: 10px; /* Altura de la barra horizontal */
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: rgba(24, 24, 24, 1); /* Fondo oscuro de la barra */
}

/* Estilo de la barra en sí */
::-webkit-scrollbar-thumb {
  background: rgba(59, 59, 59, 1); /* Gris oscuro que combina con el fondo */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid rgba(35, 35, 35, 1); /* Borde más oscuro para el 'thumb' */
}

/* Efecto hover sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: rgba(
    42,
    42,
    42,
    1
  ); /* Cambia el color a un tono más claro cuando se pasa el mouse */
}

/* Para la barra de desplazamiento horizontal */
::-webkit-scrollbar-horizontal {
  height: 12px;
}

/* Estilo para la parte activa de la barra */
::-webkit-scrollbar-corner {
  background: rgba(24, 24, 24, 1);
}

.loader {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #646363;
  border-top: 5px solid #dde635;
  -webkit-animation: 1s loader linear infinite;
  animation: 1s loader linear infinite;
}
